.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  width: 300px;
  border: black;
  border-style: solid;
  border-width: 10px;
  border-radius: 20px;
}

.gcse-search {
  width: 500px;
}

.s1 {
  text-align: center;
}

.main {
  font-family: 'Nunito', sans-serif;
}


/* Mode: */

.light {
  background-color: white;  
  color: black;
}

.lightNoText {
  background-color: white;  
}

.dark { 
  background-color: #252528;
  color: white;
}

.darkNoText { 
  background-color: #252528;
}

/* Nav: */

.iconSize {
  height: 100px;
}


/* Calculator */

.icon {
  width: 150px;
}

.cardText {
  color: black;
  text-align: center;
}

/* Footer: */

.footer {
  background-color: rgb(27, 27, 27);
  color: white;
  padding: 10px;
}


/* CardMain: */

.break {
  visibility: hidden;
}


/* Titles : */

.title {
  text-align: center;
  font-size: 60px;
  font-family: 'Nanum Brush Script', cursive;
}

.title2 {
  text-align: center;
  font-size: 30px;
  font-family: 'Nanum Brush Script', cursive;
}

.title2Alt {
  text-align: center;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}


/* Toggle Switch Styling: */

.game {
  margin: 0 auto;
  display: block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}